		nav ul {
			display: flex;
			gap: 30px;
			list-style: none;
			margin-left: 800px;
			margin-right: 0px;
		}

		nav ul li a {
			color: #2F6EB5;
			font-size: 20px;
			letter-spacing: 0px;
			justify-content: center;
		}


        h1 {
            font-family: 'Heroes Assemble', sans-serif;
            font-size: 70px;
			font-weight: bold;
            color: #C1111F;
        }
	
        h2 {
            font-family: 'Heroes Assemble', sans-serif;
            font-size: 30px;
            font-weight: bold;
            color: #C1111F;
        }

        h3 {
            font-family: 'Masked Marvel', sans-serif;
            font-size: 30px;
            font-weight: bold;
            color: #2F6EB5;
        }
		
        h4 {
            font-family: 'Heroes Assemble Expanded Italic', sans-serif;
            font-size: 25px;
            font-weight: bold;
            color: #2F6EB5;
        }

        h5 {
            font-family: 'Heroes Assemble', sans-serif;
            font-size: 40px;
			font-weight: bold;
            color: #E23636;
        }
		
        p {
            font-family: 'Masked Marvel Light', sans-serif;
            font-size: 25px;
            font-weight: bold;
            color: #003049;
        }
		
        li {
            font-family: 'Masked Marvel Light', sans-serif;
            font-size: 15px;
            font-weight: bold;
            color: #542719;
        }
		
        small {
            font-family: 'Masked Marvel Light', sans-serif;
            font-size: 11px;
            font-weight: bold;
            color: #a48176;
        }

		img {
			display: block;
			margin: 20px auto;
		}

		body {
            background-image: url('background.jpg');
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
			background-position: center;
			margin-left: 200px;
			margin-right: 200px;
        }

		video {
			display: block;
			margin-right: 450px;

		}

		iframe {
			position: center;
		}
		
		section {
			width: 1200px;
			background: #FDF0D5;
			padding: 15px;
		}
		
		a {
			color: #E23636;
			text-decoration: none;
		}
		

		

<!-- Timeline -->
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    padding: 20px;
    background-color: #FDF0D5;
    border-radius: 0px;
}

.content p{
    letter-spacing: 1px;
    margin-top: 10px;
}
.content h1{
    letter-spacing: 2px;
    color: #FDF0D5;
}

.timeline{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 10px;
    background-color: #FDF0D5;
    border-radius: 6px;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -5px;

}

.container{
    padding: 10px 40px;
    position: relative;
    width: 50%;

}
.container::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    right: -17px;
    top: 15px;
    z-index: 1;
    background: url('spider.png') no-repeat center center;
    background-size: contain;
}

.left{
    left: -6.5%;
}
.right{
    left: 50%;
}
.right::after{
    left: -23.5px;
}

.left::before{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    top: 22px;
    z-index: 1;
    right: 30px;
    border: medium solid #fff;
    border-width: 10px 0px 10px 10px;
    border-color: transparent transparent transparent #fff;
}
.right::before{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    top: 22px;
    z-index: 1;
    left: 30px;
    border: medium solid #fff;
    border-width: 10px 10px 10px 0px;
    border-color: transparent #fff transparent transparent;
}